html,
body,
#container {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

body {
  background: black center center no-repeat;
  color: white;
  font-size: 1.0em;
  line-height: 1.4;
  font-family: "Trebuchet MS", Geneva, sans-serif
}

.text-style {
  font-family: 'Bangers', cursive, Geneva;
  font-size: 3em;
  position: absolute;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 2px 1px black;
  -webkit-animation: fadein 2.5s;
  /* Safari, Chrome and Opera > 12.1 */
  
  -moz-animation: fadein 2.5s;
  /* Firefox < 16 */
  
  -ms-animation: fadein 2.5s;
  /* Internet Explorer */
}

.instructions {
  font-size: 2em;
  position: absolute;
  top: 150px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

/* ALL PAGES SHARE THE SAME HERO IMAGE STRUCTURE */
.hero-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* EACH TYPE OF PAGE HAS A TEMPLATE */
.title-photo-template {
  background-image: url(../img/PhotoTitle.jpg);
}

.memo-photo-template {
  display: none;
}

.qna-photo-template {
  background-image: url(../img/Results.jpg);
  /*height: 600px;*/
  display: none;
}

.final-score-template {
  background-image: url(../img/FinalScore.jpg);
  display: none;
}

/* UNIQUE QUESTIONS MAY HAVE UNIQUE PHOTOS */

.photo0 { background-image: url(../img/Photo01.jpg); }
.photo1 { background-image: url(../img/Photo02.jpg); }
.photo2 { background-image: url(../img/Photo03.jpg); }
.photo3 { background-image: url(../img/Photo04.jpg); }
.photo4 { background-image: url(../img/Photo05.jpg); }

.qna1 { /* ... */ }
.qna2 { /* ... */ }
.qna3 { /* ... */ }
.qna4 { /* ... */ }
.qna5 { /* ... */ }

/* TIMERS */

#game-timer {
  position: fixed;
  top: 70px;
  right: 20px;
}

#photo-timer {
  position: fixed;
  bottom: 70px;
  left: 20px;
}

/*#page-header {
    background: black;
    color: white;
    overflow: hidden;
    border-bottom: 1px solid grey;
    padding: 0 3%;
    opacity: 0.5;
    /*position: fixed;*/
/* width: 100%;
    z-index: 1;
    height: 80px;
    top: 0px;*/
/*}*/


/*section#intro {
  width: 860px;
  margin: auto;
  text-align: center;
  font-size: 1.75em;
  text-shadow: -3px 3px 3px #000;
  font-family: 'Bangers', cursive;
  color: white;
  overflow: hidden;
  z-index: 1;
  height: auto;
}*/

/*#good-luck {
  margin-top: 20px;
  font-size: 2.0em;
  float: right;
}*/
